# OBJECTIVO:
##  VISUALIZAR LOS GENEROS PARA AMAZON PRIME

In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [28]:
df = pd.read_csv('amazon_prime_titles.csv')
df.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5457,s5458,Movie,Do You Remember Dolly Bell?,Emir Kusturica,NaN,NaN,NaN,1981,18+,105 min,"Comedy, Drama","A young man grows up in Sarajevo in the 1960s,..."
5119,s5120,Movie,Eh Janam Tumhare Lekhe,Harjit Singh,"Pawan Malhotra, Arjuna Bhalla, Sudhanshu Aggar...",NaN,NaN,2015,13+,125 min,Drama,"Bhagat Puran Singh, a humble and simple man, c..."
4968,s4969,Movie,Quilombo,Carlos Diegues,NaN,NaN,NaN,1984,18+,120 min,"Action, Arthouse, Drama",This historical saga is a stirring fusion of f...
1546,s1547,TV Show,My Mother and Other Strangers,NaN,"Hattie Morahan, Owen McDonnell, Aaron Staton, ...",NaN,NaN,2017,13+,1 Season,"Drama, Historical",Shot on the stunningly beautiful Ards Peninsul...
5304,s5305,TV Show,Baahubali The Lost Legends,NaN,NaN,NaN,NaN,2017,NR,1 Season,"Animation, Young Adult Audience",Before the war with the Kalakeya. Before Katap...
6702,s6703,Movie,Vazhakku Enn 18/9,Balaji Sakthivel,"Sri, Urmila Mahanta, Mithun Murali, Manisha Ya...",NaN,NaN,2012,13+,118 min,"Drama, Suspense",A poor Venu works at a roadside shop and loves...
8093,s8094,Movie,Roger Dodger,Dylan Kidd,"Jennifer Beals, Elizabeth Berkley, Jesse, Eise...",NaN,NaN,2002,R,106 min,"Comedy, Drama",Roger guides his 16 year-old nephew through Ne...
1307,s1308,TV Show,Pinkfong! Learn Colors with Hogi,NaN,NaN,NaN,NaN,2021,ALL,2 Seasons,"Animation, Kids",Learn the colors of the rainbow with Hogi and ...
7067,s7068,Movie,The Taunting,Stephen Kadwell,"Maraim Sobh, Matthew Tucker, Zach Roberson, To...",NaN,NaN,2021,13+,44 min,Horror,Four Friends spend the weekend in at a haunted...
8847,s8848,Movie,Creating Freedom: The Lottery of Birth,"Raoul Martinez, Joshua van Praag","Michael Albert, Stanley Aronowitz, Tony Benn, ...",NaN,NaN,2013,7+,76 min,Special Interest,Do you shape the world or does it shape you? D...

Dividimos entre Movies and TV shows

In [29]:
df['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [30]:
df_movies = df[df['type']=='Movie']
df_movies.reset_index(drop=True, inplace=True)
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7814 entries, 0 to 7813
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7814 non-null   object
 1   type          7814 non-null   object
 2   title         7814 non-null   object
 3   director      7585 non-null   object
 4   cast          7050 non-null   object
 5   country       569 non-null    object
 6   date_added    16 non-null     object
 7   release_year  7814 non-null   int64
 8   rating        7483 non-null   object
 9   duration      7814 non-null   object
 10  listed_in     7814 non-null   object
 11  description   7814 non-null   object
dtypes: int64(1), object(11)
memory usage: 732.7+ KB

In [31]:
type(df_movies['listed_in'][0])

str

Limpieza de los generos

In [32]:
df_movies.loc[:,'listed_in'] = df_movies['listed_in'].apply(lambda x: x.replace('Entertainment, and Culture','Entertainment and Culture'))

df_movies.loc[:,'listed_in'] = df_movies['listed_in'].apply(lambda x: x.split(', '))
type(df_movies['listed_in'][0])

list

In [33]:
df_ = pd.DataFrame(df_movies['listed_in'])
for i in df_['listed_in']:
    if 'and Culture' in i:
        print(i)

In [34]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()

dummies_movies = pd.DataFrame(mlb.fit_transform(df_movies['listed_in']), columns=mlb.classes_)

dummies_movies

,Action,Adventure,Animation,Anime,Arthouse,Arts,Comedy,Documentary,Drama,Entertainment and Culture,...,Music Videos and Concerts,Romance,Science Fiction,Special Interest,Sports,Suspense,Talk Show and Variety,Unscripted,Western,Young Adult Audience
0,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7809,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7810,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,0,0
7811,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7812,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7813,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0